In [1]:
import pandas as pd

C:\Users\verse\AppData\Local\Temp\ipykernel_19608\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd. read_csv('Player Per Game.csv')
df.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,1.000,0.2,0.6,0.8,0.6,0.0,0.0,0.0,0.9,3.3
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,0.706,0.5,0.8,1.3,0.6,0.4,0.1,0.5,0.8,4.2
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,1.000,0.1,0.7,0.8,0.2,0.1,0.1,0.3,0.3,2.1
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,0.614,2.6,4.1,6.7,3.1,0.8,0.7,1.3,1.9,13.6
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,0.912,0.3,1.6,1.9,1.7,0.5,0.1,0.8,1.5,6.5

In [11]:
filtered_df = df[df['season']== 2024]
filtered_df = filtered_df[df['pts_per_game'] >= 20]
filtered_df = filtered_df[['player', 'pos', 'tm', 'pts_per_game', 'trb_per_game', 'ast_per_game', 'stl_per_game', 'blk_per_game']]
filtered_df.head()

C:\Users\verse\AppData\Local\Temp\ipykernel_19608\3644875929.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = filtered_df[df['pts_per_game'] >= 20]

,player,pos,tm,pts_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game
15,Alperen Şengün,C,HOU,21.7,9.2,5.1,1.2,0.7
23,Anfernee Simons,SG,POR,22.9,3.5,5.2,0.4,0.2
25,Anthony Davis,C,LAL,24.9,12.1,3.7,1.2,2.3
26,Anthony Edwards,SG,MIN,25.5,5.2,5.2,1.2,0.5
32,Bam Adebayo,C,MIA,20.6,10.6,4.2,1.0,1.0

In [15]:
ppg_df = filtered_df.sort_values(by=['pts_per_game'], ascending=False)
ppg_df.head()

,player,pos,tm,pts_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game
275,Joel Embiid,C,PHI,35.3,11.3,5.7,1.1,1.8
369,Luka Dončić,PG,DAL,34.7,8.6,9.6,1.4,0.6
510,Shai Gilgeous-Alexander,PG,OKC,31.3,5.6,6.4,2.2,0.8
182,Giannis Antetokounmpo,PF,MIL,30.9,11.6,6.1,1.4,1.1
333,Kevin Durant,PF,PHO,28.4,6.4,5.8,0.8,1.3

In [17]:
rpg_df = filtered_df.sort_values(by=['trb_per_game'], ascending=False)
rpg_df.head()

,player,pos,tm,pts_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game
434,Nikola Jokić,C,DEN,26.3,12.1,9.0,1.2,0.9
25,Anthony Davis,C,LAL,24.9,12.1,3.7,1.2,2.3
182,Giannis Antetokounmpo,PF,MIL,30.9,11.6,6.1,1.4,1.1
275,Joel Embiid,C,PHI,35.3,11.3,5.7,1.1,1.8
32,Bam Adebayo,C,MIA,20.6,10.6,4.2,1.0,1.0

In [18]:
ast_df = filtered_df.sort_values(by=['ast_per_game'], ascending=False)
ast_df.head()

,player,pos,tm,pts_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game
558,Tyrese Haliburton,PG,IND,23.3,4.1,12.5,1.1,0.6
543,Trae Young,PG,ATL,27.0,2.9,10.9,1.4,0.2
369,Luka Dončić,PG,DAL,34.7,8.6,9.6,1.4,0.6
434,Nikola Jokić,C,DEN,26.3,12.1,9.0,1.2,0.9
213,Ja Morant,PG,MEM,25.1,5.6,8.1,0.8,0.6

In [23]:
team_east_df = pd. read_csv('(26-01-2024)NBA_2024_Eastern_Conference_Standing.csv')
team_west_df = pd. read_csv('(26-01-2024)NBA_2024_Western_Conference_Standing.csv')
team_east_df.head()
team_west_df.head()

,Western Conference,W,L,W/L%,SOS,rSOS,SRS,Current,Remain,Best,...,Unnamed: 21,1-6,7.1,8.1,9,10,Out,Unnamed: 28,Win Conf,Win Finals
0,Oklahoma City Thunder,57.8,24.2,0.705,-0.02,-0.53,8.32,31-13,27-11,68-14,...,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,39.3%,19.8%
1,Minnesota Timberwolves,56.1,25.9,0.684,0.30,-0.56,6.01,31-13,25-13,66-16,...,NaN,100.0,NaN,NaN,NaN,NaN,NaN,NaN,19.5%,7.2%
2,Denver Nuggets,54.8,27.2,0.668,0.23,-0.47,5.21,31-14,24-13,65-17,...,NaN,99.9,0.1,NaN,NaN,NaN,NaN,NaN,13.4%,5.0%
3,Los Angeles Clippers,53.4,28.6,0.651,-0.08,-0.02,5.80,28-14,25-15,64-18,...,NaN,99.6,0.3,NaN,NaN,NaN,NaN,NaN,15.7%,5.8%
4,New Orleans Pelicans,49.4,32.6,0.603,-0.09,-0.04,4.87,26-18,23-15,60-22,...,NaN,92.7,4.6,1.8,0.6,0.2,0.1,NaN,9.0%,3.0%

In [33]:
team_east_df = team_east_df[['Eastern Conference', 'W', 'L', 'W/L%']]
team_east_df = team_east_df.sort_values(by=['L'], ascending=False)
team_east_df.head(7)

    Eastern Conference     W     L   W/L%
14     Detroit Pistons  14.5  67.5  0.177
13  Washington Wizards  17.4  64.6  0.212
12   Charlotte Hornets  19.3  62.7  0.236
11     Toronto Raptors  33.4  48.6  0.408
10       Atlanta Hawks  34.2  47.8  0.416
9        Brooklyn Nets  34.8  47.2  0.424
8        Chicago Bulls  38.2  43.8  0.466

In [32]:
team_west_df = team_west_df[['Western Conference', 'W', 'L', 'W/L%']]
team_west_df = team_west_df.sort_values(by=['L'], ascending=False)
team_west_df.head(7)

        Western Conference     W     L   W/L%
14       San Antonio Spurs  18.2  63.8  0.223
13  Portland Trail Blazers  23.5  58.5  0.286
12       Memphis Grizzlies  32.2  49.8  0.392
11               Utah Jazz  38.3  42.7  0.473
10      Los Angeles Lakers  39.5  42.5  0.482
9          Houston Rockets  40.6  41.4  0.495
8    Golden State Warriors  39.5  40.5  0.494